<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RGBRotated4bit/src/RGBRotated16Colors.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="RGBRotated16Colors"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="rainbow Axel_01 Axel_07 Axel_10 Axel_11 Axel_19 Axel_36 Axel_56 Axel_41 Axel_49"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RGBRotated4bit"/>
</launchConfiguration>
